.menu {
    background-color: white;
    text-decoration: none;
    color: gray;
        font-style: normal;
    font-size: large;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    padding: 20px;

}
.menu:hover {
    color: brown;
}
nav {
    text-align: center;
    margin: 30px;
}

#about {
    border: 2px solid rgb(185, 183, 183);
    padding: 15px;
    margin: 5px;
    background-color: rgb(224, 219, 219);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
}
p {
    font-family: 'Courier New', Courier, monospace;
}
h2, h4, li {
    font-family: 'Courier New', Courier, monospace;
}
#scenario {
    border: 2px solid rgb(185, 183, 183);
    padding: 15px;
    margin: 5px;
    background-color: rgb(224, 219, 219);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    margin: 20px;
    
}
th {
    background-color: rgb(228, 213, 193);
    border: 1px solid black;
    padding: 10px;
}
td {
    border: 1px solid black;
    padding: 6px;
}
#galery {
    border: 2px solid rgb(185, 183, 183);
    padding: 15px;
    margin: 5px;
    background-color: rgb(224, 219, 219);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
img {
    width: 200px;
    padding: 10px;
}
img:hover {
    width: 250px;
    transition: 1s;
}
a {
    text-decoration: none;
    color: brown;
    font-size: 18px ;
}
#bid {
    border: 2px solid rgb(185, 183, 183);
    padding: 15px;
    margin: 5px;
    background-color: rgb(224, 219, 219);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    padding: 7px;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    resize: both;
    width: 100%;
    height: 80px;
}
.button {
    background-color: rgb(173, 105, 105);
    border: 1px solid grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: auto;
    height: 40px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.button:hover {
    background-color: rgb(201, 188, 188);
    transition: 1s;
}
#contacts {
    border: 2px solid rgb(185, 183, 183);
    padding: 15px;
    margin: 5px;
    background-color: rgb(224, 219, 219);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
footer {
    border: 2px solid rgb(185, 183, 183);
    padding: 0px;
    margin: 5px;
    background-color: rgb(184, 139, 139);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}
